<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		
		<meta name="application-name" content="Pseudo-3D Racer" />
		<meta name="author" content="AskForGameTask" />
		<meta name="description" content="A pseudo 3D racing game prototype." />
		<meta name="keywords" content="outrun, racer, racing, pseudo-3d, game, prototype" />
		<meta name="copyright" content="2021 Ask For Game Task" />
			
		<title>Pseudo-3D Racer</title>
		<link rel="stylesheet" href="styles.css">
		
		<script src = "libs\phaser.min.js"></script>

		<script src = "main.js"></script>
		<script src = "settings.js"></script>
		<script src = "circuit.js"></script>
		<script src = "camera.js"></script>
		<script src = "player.js"></script>
		<script src="fraction.min.js"></script>
		
		
		
		
	</head>
	<body>	
		<div id="speedometer">
            <div style="display: none;"><img id="sprite" src="icons.svg"></div>
            <canvas id="canvas" width="425" height="210"></canvas>
        </div>
		<script src="speedometer.js"></script> 
		<script src="demo.js"></script> 
		<script src="/socket.io/socket.io.js"></script>	
		
		<script>
 		  
		</script>
		
	</body>
</html>